/* CSS Document */
*{
	margin:0;
	padding:0;
	border-box:border-box;
	-webkit-border-box:border-box;
}
#login {
	margin:auto;
	width:500px;
	padding:5px;}
.title {
	background-color:#003;
	color:#FFF;
	border-radius:3px;
	text-align:center;
	padding:3px;}
.td-login {
	border-left:1px solid #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding: 5px;}
.td-login input {
	margin-right:5px;}
span {
	color:red;}
